<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <style>
      .card
      {
        margin-top: 25px;
        margin-bottom: 15px;
        
      }
      
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="card ">
           
            <div class="card-body">
                <h3 class="card-title"  >Login Form</h3><br>
              <form>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group ">
                              <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1"><fa name="at" ></fa></span>
                                  <input type="text" class="form-control " placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                          </div>  
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon2"><fa name="lock" ></fa></span>
                                  <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                </div>
                          </div>  
                      </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary btn-lg " >Login</button>
                            </div>  
                        </div>
                        
                      </div>  
              </form>
              
            </div>
          </div>
    </div>
    
  </body>
</html>